<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>School Management</title>
</head>
<body>
<h1>Here are the Schools:</h1>
<div th:if="${schoolList.empty}">
</div>
<div th:unless="${schoolList.empty}">
    <table>
        <tr th:each ="school : ${schoolList}" >

    <td   th:text="${school.name}"> Sheridan  </td>
        <td> in </td>
        <td th:text="${school.address}">davis</td>
        <td> has </td>
        <td th:text="${school.numStudents}">4500</td>
        <td>students</td>
    </tr>
    </table>
</div><a href="/"> Back to home</a>
</body>
</html>